{% extends 'study_blog/base.html'%}
{% block content%}
    <h1>Home of studies</h1>
    {% for study in studies%}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ study.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ study.title }}</a>
                <small class="text-muted">Created on {{study.date_posted|date:"F d, Y"}} by {{study.author}}</small>
            </div>
            <a class="article-title" href="{% url 'study-detail' study.id %}">More Details</a>
            <p class="article-content">
                <a href={{study.content}}>Link to Study content</a> 
            </p>
        </div>
    </article>
        
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif%}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num%}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
         <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next%}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif%}


    {% endif %}
{% endblock content%}
