{% extends 'study_blog/base.html'%}
{% block content%}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.title }}</a>
                <small class="text-muted">Created on {{object.date_posted|date:"F d, Y"}} by {{object.author}}</small>
            </div>
            <p class="article-content"><a class="mr-2" href={{ object.content }}>Study content</a></p>
        </div>
    </article>
    {% if object.author == user %}
    <div>

        <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'study-update' object.id %}">Update</a>
        <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'study-delete' object.id %}">Delete</a>
    </div>
    {% endif %}
        
{% endblock content%}
